body {
    background-color: #f0f2f5;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.d-block {
    display: block;
}

.d-hide {
    display: none;
}
.ant-btn-primary,
.ant-btn-primary:active {
    background: #3cb4ca;
    border-color: #3cb4ca;
}
.ant-btn-primary:focus,
.ant-btn-primary:hover {
    background: #64cddf;
    border-color: #64cddf;
}
/* Login */

.login-layout {
    background: #fff;
    /* background: linear-gradient(
        90deg,
        rgb(179 211 69 / 64%) 15%,
        rgb(211 243 90) 54%,
        rgb(232 243 188) 91%
    ); */
    height: 100vh;
}
.login-layout .ant-card {
    -webkit-box-shadow: 9px 10px 51px 0px rgba(223, 238, 240, 1);
    -moz-box-shadow: 9px 10px 51px 0px rgba(223, 238, 240, 1);
    box-shadow: 9px 10px 51px 0px rgba(223, 238, 240, 1);
    /* width: 350px; */
    margin: auto;
}
.login-layout .ant-card .ant-card-cover img {
    width: 50%;
    margin: auto;
}

/* end login */

.logo {
    padding: 5px;
    margin: 10px;
    color: black;
    font-weight: bolder;
    font-size: large;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    background: url(../img/TMC-logo.png);
    background-size: cover;
    margin-top: 23px;
    height: 16px;
}
.client-logo {
    padding: 5px;
    margin: 10px;
    background: url(../img/faa-transparent-logo-square-small.png);
    background-repeat: no-repeat;
    /* background-size: 100px; */
    margin-top: 23px;
    background-position: center;
    /* height: 100px; */
    height: 185px;
}
.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
    text-align: right;
    padding-top: 5px;
}

.ant-layout.ant-layout-has-sider {
    min-height: 100vh;
}

/* helper */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.mr-0 {
    margin-right: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-10 {
    margin-top: 10px;
}

.hide {
    display: none;
}

.table-responsive {
    overflow-x: auto;
    width: 100%;
}

/* MARGINS & PADDINGS */
.p-xxs {
    padding: 5px;
}
.p-xs {
    padding: 10px;
}
.p-sm {
    padding: 15px;
}
.p-m {
    padding: 20px;
}
.p-md {
    padding: 25px;
}
.p-lg {
    padding: 30px;
}
.p-xl {
    padding: 40px;
}
.p-w-xs {
    padding: 0 10px;
}
.p-w-sm {
    padding: 0 15px;
}
.p-w-m {
    padding: 0 20px;
}
.p-w-md {
    padding: 0 25px;
}
.p-w-lg {
    padding: 0 30px;
}
.p-w-xl {
    padding: 0 40px;
}
.p-h-xs {
    padding: 10px 0;
}
.p-h-sm {
    padding: 15px 0;
}
.p-h-m {
    padding: 20px 0;
}
.p-h-md {
    padding: 25px 0;
}
.p-h-lg {
    padding: 30px 0;
}
.p-h-xl {
    padding: 40px 0;
}
.m-xxs {
    margin: 2px 4px;
}
.m {
    margin: 15px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}
.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}
.img-sm {
    width: 32px;
    height: 32px;
}
.img-md {
    width: 64px;
    height: 64px;
}
.img-lg {
    width: 96px;
    height: 96px;
}
.b-r-xs {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.b-r-sm {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.b-r-md {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.b-r-lg {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.b-r-xl {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
.w-100 {
    width: 100% !important;
}
/*  end helper */

/* new */

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
    text-decoration: underline;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #36b5cb;
}

.ant-tabs-tab {
    font-size: 11px;
    font-weight: 700;
}
.rule {
    height: 1px;
    width: 100%;
    clear: both;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
}
.report-header-free {
    background-color: #3cb4ca;
    padding: 1.2rem 2.4rem;
}
.report .ant-tabs-nav {
    margin: -1px;
}
.video-react .video-react-big-play-button {
    top: 45%;
    left: 45%;
}

.video-react .video-react-poster {
    background-color: white;
    border: 2px solid #3cb4ca;
}
.video-react.video-react-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}

.circle-smooth {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid darkgray;
    border-radius: 50%;
    outline: none;

    /* box-shadow: 0 0 5px 0px gray inset; */
}
.circle-smooth:hover {
    box-shadow: 0 0 5px 0px gray inset;
    border-color: gray;
}
.circle-smooth:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /*margin: 20% auto;    */
    border-radius: 50%;
}
/* .circle-smooth:checked:before {
    background-color: rgb(189, 213, 73);
} */

.group-5:checked:before {
    background-color: rgb(82, 179, 205);
}
.group-4:checked:before {
    background-color: rgb(82, 179, 205);
}

.group-3:checked:before {
    background-color: gray;
}

.group-2:checked:before {
    background-color: rgb(189, 213, 73);
}
.group-1:checked:before {
    background-color: rgb(189, 213, 73);
}

.r-1,
.r-5 {
    transform: scale(2.5);
}

.r-2,
.r-4 {
    transform: scale(1.5);
}

.margin-byside {
    margin-right: 70px;
    margin-left: 70px;
}

.span-3 {
    margin-right: 25px;
}
.span-1 {
    margin-right: 20px;
}
/*
.disAgree,
.agree {
    transform: scale(3.5);
}

.s-disAgree,
.s-agree {
    transform: scale(2.5);
} */

/* .assessment .ant-steps-small .ant-steps-item-title {
    padding-right: 0px;
    font-size: 14px;
    line-height: 24px;
} */

.assessment .ant-steps-item-title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 10px;
}

/* .assessment .ant-steps-small .ant-steps-item-icon {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-right: 86px;
    border-radius: 24px;
}

.assessment .ant-steps-item-icon {
    position: relative;
    left: 80px;
} */

.CompactPicker {
    /* transform: scale(1.2); */
    /* margin-top: 20px; */
}
.tmcButton {
    border-radius: 4px;
    font-family: gotham, open sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    height: 46px;
    background: #bad54a;
    border-color: #bad54a;
}
.tmcButton:hover {
    background: #b9d54a9f;
    border-color: #b9d54a9f;
}
.tmcButton:focus {
    background: #b9d54a9f;
    border-color: #b9d54a9f;
}

.forgot {
    position: relative;
    left: 90px;
    top: -39px;
    width: 200px;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
    color: black;
}
.ally .ant-form-item-label {
    text-align: left;
    white-space: break-spaces;
}
/* .ally label {
    font-size: 15px;
} */

.react-color-container {
    width: 100%;
}

.react-color-container .compact-picker {
    width: 100% !important;
}
@media (min-width: 992px) {
    .marginTopDesktopOnly {
        margin-top: 10px;
        margin-bottom: 70px;
    }
}

.takeModalTitle {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 600;
    color: #787878;
}

.ModalTakeAssessmentClass .ant-modal-footer {
    display: none;
}

.ant-layout-sider {
    /* background: #dddddd; */
    background: #404041;
}

aside .ant-menu.ant-menu-light,
aside .ant-menu-light .ant-menu-sub,
aside .ant-menu.ant-menu-light .ant-menu-sub {
    /* background: #dddddd; */
    background: #404041;
}
aside
    .ant-menu-light.ant-menu-light:not(.ant-menu-horizontal)
    .ant-menu-item-selected
    a:hover {
    /* background-color: #b8d34a; */
    /* background-color: #b8d348; */
    color: white !important;
}

aside .ant-menu.ant-menu-light .ant-menu-item-selected,
aside .ant-menu-submenu-popup.ant-menu-light .ant-menu-item-selected {
    /* background-color: #b8d34a; */
    background-color: #b8d348;
    color: white;
}
aside .ant-menu-item,
aside .ant-menu-item a {
    color: white;
}
aside .ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
    background: white;
}
aside .ant-menu-item:hover,
aside .ant-menu-item-active,
aside .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
aside .ant-menu-submenu-active,
aside .ant-menu-submenu-title:hover,
aside .ant-menu-item a:hover {
    color: #b8d348;
}
.fontStyleHomepage {
    color: #8b8b8b !important;
    font-family: "Avenir", sans-serif !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 26px !important;
}

.circleTop {
    width: 120px;
    height: 120px;
    background: #2cfef3;
    border-radius: 50%;
    text-align: center;
    border: 2px solid black;
    margin: auto;
}
.circleText {
    font-size: 65px;
    color: white;
}
.circleTopOverFlow {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: -5px;
    left: 4px;
}
.outOf {
    margin: auto;
}
.outOfText {
    font-size: 65px;
    -webkit-text-stroke: 2px black;
    /* font-family: sans; */
    color: #2cfef3;
    font-weight: 700;
    margin-left: 20px;
}

.rectangleScoreGreen {
    width: 95%;
    background: #cafc32;
    text-align: center;
    border-radius: 10px;
    display: table;
    height: 95%;
    overflow: hidden;
}
.rectangleScoreGreenText {
    color: white;
    font-size: 70px;
    margin-right: 8px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
}

.rectangleScoreBlue {
    width: 95%;
    background: #2cfef3;
    /* height: 125px; */
    text-align: center;
    border-radius: 10px;
    display: table;
    height: 95%;
    overflow: hidden;
}
.rectangleScoreBlueText {
    color: white;
    font-size: 70px;
    margin-right: 8px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
}

.whatNext {
    font-size: 40px;
    -webkit-text-stroke: 2px black;
    /* font-family: sans; */
    color: #2cfef3;
    font-weight: 700;
    margin-left: 20px;
}

.hoverPdfDiv {
    -webkit-box-shadow: 2px 5px 19px -7px #000000;
    box-shadow: 2px 5px 19px -7px #000000;
    cursor: pointer;
    overflow-wrap: break-word;
}

.hoverPdfDiv:hover {
    background-color: #bdd549;
    color: white !important;
}
.PageWelcome .ant-image-error {
    margin-left: 174px;
    margin-bottom: 10px;
}

.PageWelcome .ant-form-item-label {
    text-align: center;
}

.spanTextToolTip {
    color: #b8d349;

    cursor: pointer;
}

.ModalEditToolTipClass .tox-toolbar__primary {
    display: none !important;
}

.ant-tooltip {
    max-width: 360px !important;
}

.spanContenttooltip img {
    width: 100%;
}

.mobileMenu {
    width: 100% !important;
    position: fixed;
    z-index: 999;
    height: 100vh;
    max-width: 100% !important;
    transition: opacity 1s ease-out;
}

.closeMenuMobile {
    color: white;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 10px;
}

.skipWelcome {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: underline;
    cursor: pointer;
    color: #1890ff;
}

.odometer-block {
    font-weight: bold;
    display: inline-flex !important;
}
.odometer-block > span:nth-child(1) > .day > span:nth-child(1) {
    background: #b8d34a;
    color: black;
    font-size: 20px;
    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(1) > .day > span:nth-child(2) {
    background: #b8d34a;
    color: black;
    font-size: 20px;
    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(2) > .hour > span:nth-child(1) {
    background: #b8d34a;
    color: black;
    font-size: 20px;

    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(2) > .hour > span:nth-child(2) {
    background: #b8d34a;
    color: black;
    font-size: 20px;
    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(2) > .hour > span:nth-child(1) {
    background: #b8d34a;
    color: black;
    font-size: 20px;
    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(2) > .hour > span:nth-child(2) {
    background: #b8d34a;
    color: black;
    font-size: 20px;
    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(3) > .min > span:nth-child(1) {
    background: #b8d34a;
    color: black;
    font-size: 20px;
    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(3) > .min > span:nth-child(2) {
    background: #b8d34a;
    color: black;
    font-size: 20px;
    border-radius: 6%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-bottom: 15px;
}

.odometer-block > span:nth-child(1) > .day {
    display: block;
}
.odometer-block > span:nth-child(2) > .hour {
    display: block;
}
.odometer-block > span:nth-child(3) > .min {
    display: block;
}

.odometer-block > span:nth-child(1) {
    margin-right: 3px;
    text-align: center;
    color: black;
    font-size: 12px;
    line-height: 1.5;
}
.odometer-block > span:nth-child(2) {
    margin-right: 3px;
    text-align: center;
    color: black;
    font-size: 12px;
    line-height: 1.5;
}
.odometer-block > span:nth-child(3) {
    margin-right: 3px;
    text-align: center;
    color: black;
    font-size: 12px;
    line-height: 1.5;
}

.ant-layout-content-addMargin {
    margin-top: 36px !important;
}

.client-group-card .ant-collapse-content-active {
    background-color: #e9f1c6;
}

/* .client-group-card
    .ant-select-multiple.ant-select-sm
    .ant-select-selection-item {
    height: 35px;
    line-height: 33px;
} */

.client-group-card .ant-select-multiple .ant-select-selection-item {
    background: #c9c9c9;
}

.client-group-card .ant-collapse-header {
    font-size: 20px;
}

.client-group-card
    .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    top: 11px;
    left: 18px;
    font-size: 15px;
}
.margin-top-collapse {
    margin-bottom: 5px;
}

.welcome-back-header .ant-message-notice-content {
    background: #bad54a;
}

.welcome-back-header .anticon-info-circle {
    color: #696969;
}
.marginTopCouponButton {
    margin-top: 29px;
}
.totalDivider {
    width: 100%;
    border-top: 1px solid black;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: white;
    opacity: 0.5;
}

.modalDemoExpired {
    width: 100% !important;
    top: 10px;
    /* height: 100vh; */
}

.modalDemoExpired .ant-modal-confirm-warning .ant-modal-confirm-body > .anticon,
.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
    color: #faad14;
    display: none;
}

.modalDemoExpired .ant-modal-confirm .ant-modal-body {
    padding: 0px;
}
.modalDemoExpired .ant-modal-body {
    padding: 0px;
}

.modalDemoExpired .ant-modal-confirm-btns {
    display: none !important;
}

.modalDemoExpired .ant-modal-confirm-body .ant-modal-confirm-content {
    margin-top: 0px;
}

.closeModal {
    position: absolute;
    right: 0;
    /* left: 32px; */
    margin-right: 20px;
    margin-top: 15px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 99;
}

.divFaaProduct {
    background: white;
    padding: 25px;
    border-radius: 20%;
}

.divFaaProductAmount {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 5px solid #bdd549;
}

.divFaaProductAmountspan {
    position: relative;
    left: -15px;
    font-size: 20px;
}

.divFaaProductAmountdollar {
    font-size: 30px;
    position: relative;
    top: -18px;
    left: 13px;
}
.divFaaProductDescription {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 12px;
}

.divFaaProductFooter {
    margin-top: 5px;
    font-size: 7px;
    font-weight: 800;
    text-align: center;
}

.divFaaProductFree {
    font-size: 20px;
    position: absolute;
    left: 28%;
    top: 40px;
    color: #bdd549;
    font-weight: bold;
}

.divFaaProductFreeyear {
    font-size: 20px;
    position: absolute;
    left: 21%;
    top: 9px;
    color: #bdd549;
    font-weight: bold;
}

#tblGuesty .ant-table {
    font-size: 12px !important;
}

.saltoks_access {
    color: rgb(134, 134, 134);
}

.saltoks_access:hover {
    color: black;
}

.saltoks_access_active {
    color: black;
}

.site-layout-background {
    background: transparent !important;
}

.ant-notification-topRight {
    z-index: 99999999999;
}

.berry-table-backup tr th,
.berry-table-backup tr td {
    background: #edf5ff !important;
}

.tbl_reports_table td,
.tbl_reports_table th,
.tbl_reports_table .ant-table-column-sorters,
#tbl_compare_raw_table td,
#tbl_compare_raw_table th,
#tbl_with_raw_table td,
#tbl_with_raw_table th {
    font-size: 10px Im !important;
    padding: 5px !important;
}

.reportsCard .ant-table-row-expand-icon-spaced {
    display: none;
}
.reportsCard .ant-table-row-expand-icon-collapsed {
    color: black;
    border: 1px solid black;
}

/* .berry-table .ant-table-header table {
    table-layout: auto !important;
} */
