// default
$primaryColor: #c77e22;
$primaryColor50: #f9f0e5;

$secondaryColor: #18595b;
$secondaryColor50: #e2ebeb;

$successColor: #00c853;
$successColor50: #b9f6ca60;

$dangerColor: #d84315;
$dangerColor50: #fbe9e780;

$warningColor: #ffc107;
$warningColor50: #fff8e1;

$infoColor: #1890ff;
$infoColor50: #cee2f5e8;

// sidebard
$sidebardFontColor: #616161;
$fontColor: #212121;
